:root {
	--gokuSuit: #182e57;
	--gokuHair: #ffab14;
	--superSaiyanBlue: #496bab;
	--skinColour: #fff4ea;
	--skinColorDark: #ccbda6;
}

body,
html {
	margin: 0;
	padding: 0;
	line-height: 1;
	color: white;
	box-sizing: border-box;
	font-family: monospace;
	font-size: 25px;
}

/* CONTAINERS */

.mainContainer {
	display: grid;
	grid-template-columns: 240px 1fr 240px;
	grid-template-rows: 150px 1fr 50px;

	grid-template-areas:
		"sidebar header header"
		"sidebar mainContent sidebarLeft"
		"sidebar footer footer";
	height: 100vh;
}

.header {
	display: flex;
	grid-area: header;
	background-color: var(--superSaiyanBlue);
	color: var(--skinColorDark);
	padding: 0 15px;
	align-items: center;
	justify-content: space-between;
}

.mainContent {
	grid-area: mainContent;
	background-color: var(--gokuSuit);
}

.sidebar {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 50px;

	grid-template-areas:
		"title"
		"menuContainer";
	grid-area: sidebar;
	background-color: var(--gokuHair);
}

.title {
	grid-area: title;
}

.sidebarRight {
	grid-area: sidebarLeft;
	background-color: var(--gokuSuit);
}

.footer {
	display: flex;
	grid-area: footer;
	background-color: var(--superSaiyanBlue);
	color: var(--skinColorDark);
	padding: 0 15px;
	align-items: center;
	justify-content: center;
}
